#Data types and structure Assignment

# Theory Question

Q1. What are data structure, and why are they important?

Ans -> Data structure are organised ways to store manages and manipulate data efficiently. they are importanat because they help optimize algorithms improve performance and allow for efficient data retrieval and storage.

Q2. Explain the difference between mutable and immutable data types with examples.

Ans->  Mutable data types can be modified after creation (e.g., lists, dictionaries, sets in Python).

Immutable data types cannot be changed after creation (e.g., strings, tuples, numbers in Python).

Q3. What are the main differences between lists and tuples in Python?

Ans->
Lists are mutable, while tuples are immutable.

Lists use more memory due to dynamic allocation, whereas tuples use less memory.

Tuples provide faster iteration compared to lists.

Q4. Describe how dictionaries store data.

Ans -> Dictionaries store data as key-value pairs using a hash table, ensuring quick access based on unique keys.

Q5. Why might you use a set instead of a list in Python?

Ans-> Sets are used when unique elements are required and when faster lookup operations are needed compared to lists.

Q6. What is a string in Python, and how is it different from a list?

Ans-> A string is an immutable sequence of characters, whereas a list is mutable and can store multiple data types.

Q7. How do tuples ensure data integrity in Python?

Ans-> Tuples are immutable, meaning their elements cannot be changed, preventing accidental modifications.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans ->
A hash table is a data structure that maps keys to values using a hashing function. Python dictionaries use hash tables for efficient key-based lookups.

Q9. Can lists contain different data types in Python?

Ans ->
Yes, lists in Python can hold elements of different data types.

Q10. Explain why strings are immutable in Python

Ans -> Strings are immutable to optimize memory usage and performance and to ensure thread safety.

Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans -> Dictionaries provide faster lookups, efficient data retrieval, and better organization through key-value pairs.

Q12. Describe a scenario where using a tuple would be preferable over a list.

Ans ->
Tuples are preferable for storing fixed collections of items, such as coordinates (x, y) or database records.

Q13. How do sets handle duplicate values in Python?

Ans ->
Sets automatically remove duplicate values, ensuring each element is unique.

Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans ->
In lists, it checks for the presence of an element. In dictionaries, it checks for the presence of a key.

Q15. Can you modify the elements of a tuple? Explain why or why not.

Ans -> No, tuples are immutable, meaning their elements cannot be changed after creation.

Q16. What is a nested dictionary, and give an example of its use case

Ans ->  A nested dictionary is a dictionary within another dictionary.

for example

In [ ]:
company = {
    "employee1":{"name":"vishal","age":30},
    "employye2":{"name":"sandip","age":28}
}
print(company["employee1"]["name"])

vishal

Q17. Describe the time complexity of accessing elements in a dictionary

Ans -> Accessing elements in a dictionary has an average time complexity of O(1) due to hash table implementation.

Q18. In what situations are lists preferred over dictionaries?

Ans ->
Lists are preferred when order matters, and when elements need to be accessed by index rather than key.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans -> Dictionaries store data in hash tables, meaning key-value pairs are not stored in a specific order, making sequential access less predictable.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans ->  
Lists retrieve elements by index, while dictionaries retrieve values by key, making dictionary lookups generally faster.

# Practical Questrion

Q1. Write a code to create a string with your name and print it.

In [ ]:
name = "Vishal Kharat"
print(name)

Vishal Kharat

Q2.  Write a code to find the length of the string "Hello World".

In [ ]:
name = "Hello world"
print(len(name))

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
a = "Python Programming"
print(a[:3])

Pyt

Q4.  Write a code to convert the string "hello" to uppercase.

In [ ]:
a = "hello"
print(a.upper())

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
a = "I like apple"
print(a.replace("apple", "orange"))

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
List_numbers=[1,2,3,4,5]
print(List_numbers)

[1, 2, 3, 4, 5]

Q7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

Q8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

Q9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
list = ['a','b','c','d']
print(list[1])

b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple=(100, 200, 300)
print(tuple)

(100, 200, 300)

Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple = ('red' , 'green', 'blue', 'yellow')
print(tuple[-2])

blue

Q13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple = (10, 20, 5, 15)
print(min(tuple))

5

Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple = ('dog', 'cat', 'Rabbit')
print(tuple.index('cat'))

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
tuple = ('Apple', 'Banana', 'Mango')
print('kiwi' in tuple)

False

In [ ]:
tuple = ('Apple', 'kiwi', 'Mango')
print('kiwi' in tuple)

True

Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set = {'a', 'b', 'c'}
print(set)

{'a', 'b', 'c'}

Q17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 =  {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 =  {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict = {'name': 'vishal', 'age': 30, 'city': 'Nashik'} # crating the dictionary
print(dict)  # print the dictionary

{'name': 'vishal', 'age': 30, 'city': 'Nashik'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict = {'name': 'John', 'age': 25}
dict['country'] = 'USA'  # add country : USA
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict = {'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

Q24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']   # delete the age from dictionary
print(dict)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict)

True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list = ['a','b','c','d']
tuple = ('red' , 'green', 'blue', 'yellow')
dict = {'name': 'vishal', 'age': 30, 'city': 'Nashik'}

print(list, tuple, dict)        #  print all at a time

['a', 'b', 'c', 'd'] ('red', 'green', 'blue', 'yellow') {'name': 'vishal', 'age': 30, 'city': 'Nashik'}

In [ ]:
list = ['a','b','c','d']
tuple = ('red' , 'green', 'blue', 'yellow')
dict = {'name': 'vishal', 'age': 30, 'city': 'Nashik'}

print(list)       # print all seperatelly
print(tuple)
print(dict)

['a', 'b', 'c', 'd']
('red', 'green', 'blue', 'yellow')
{'name': 'vishal', 'age': 30, 'city': 'Nashik'}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random
# Generate a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [5, 19, 35, 73, 82]

Q28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", string_list[3])

Element at index 3: date

Q29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'first_name': 'John', 'age': 25}
dict2 = {'last_name': 'Alice', 'city': 'Paris'}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'first_name': 'John', 'age': 25, 'last_name': 'Alice', 'city': 'Paris'}

Q30. Write a code to convert a list of strings into a set.

In [ ]:
# Ensure 'set' is not redefined
del set  # This restores the built-in set function if it was overridden

# Create a list with duplicate strings
string_list = ["apple", "banana", "cherry", "apple", "date"]

# Convert the list into a set to remove duplicates
string_set = set(string_list)

# Print the resulting set
print("Set from list:", string_set)

Set from list: {'banana', 'apple', 'cherry', 'date'}